.new_div{
    height: 50px;
    width: 70px;
    border-radius: 5px;
    margin: 10px;
}

.container{
    text-align: center;
    
}

.box_arrangement{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: center;
}